* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    border: 3px solid black;
}

a {
    text-decoration: none;
    color: black;
}  

ul li {
    list-style: none;
}

// $modo-oscuro: true;

// body {
//   @if $modo-oscuro {
//     background-color: #333;
//   } @else {
//     background-color: #f9f9f9;

//     if 
//   }
// }
