.button-1  {
    margin-top: 30px;
    gap: 24px;
    padding: 12px 20px;
    transition-duration: 0.4s;
    background-color: #e7e7e7; color: black;
    border-radius: 25px;

}

.button-1:hover {
    background-color: black;
    color: white;
}