
$primary-color: #3498db; 
$secondary-color: #f1c40f; 
$tertiary-color: #2ecc71; 


$white: #ffffff; 
$black: #000000; 
$gray: #808080; 
$light-gray: #f7f7f7; 
$dark-gray: #333333; 


$background-color: #f2f2f2; 
$background-color-dark: #333333; 


$text-color: #333333; 
$text-color-light: #808080; 